.exp-card{
    margin: 3% 0;
    padding: 4%;
    box-shadow: rgba(103, 172, 252, 0.7) 0px 0px 0px 2px;
}
.exp-card:hover{
    background-color: rgba(103, 172, 252, 0.7);
    box-shadow: rgba(103, 172, 252, 0.7) 0px 0px 0px 2px;
}
.exp-card h2{
    font-size: 24px;
}
.exp-card h4{
    font-size: 18px;
}
.exp-icons{
    font-size: 92px;
}